<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul class="nav nav-pills">
    <li class="logo"><a href="index.html"><img src="images/rdwrc_logo_tiny.jpg" alt="Home"></a></li>
    <li id="index_nav_link"><a href="index.html">Home</a></li>
    <li id="calendar_nav_link"><a href="rdwrc_calendar.html">Calendar</a></li>
    <li id="past_events_nav_link"><a href="rdwrc_past_events.html">Past Events</a></li>
    <li id="contact_nav_link"><a href="rdwrc_contact.html">Contact</a></li>
  </ul>
  {% include search.html %}
</div>
