* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Media Queries:
  see http://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries
  see http://stephen.io/mediaqueries/
 */
/* Variables */
/* Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, padding 0.1s, background 0.1s;
  -moz-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, padding 0.1s, background 0.1s;
  -webkit-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, padding 0.1s, background 0.1s;
  -o-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, padding 0.1s, background 0.1s; }

/* Basics */
html {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px; }

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: block;
  padding: 70px 0;
  /* needed for fix height header */ }

ul, ol {
  list-style-type: none;
  margin: 0px;
  padding: 10px; }
  ul.photos, ol.photos {
    clear: both; }
    ul.photos li, ol.photos li {
      clear: both;
      float: left; }
      ul.photos li img, ol.photos li img {
        margin: 0px 10px 10px 0px;
        border: 0px; }
  ul li.calendar, ol li.calendar {
    margin-bottom: 10px; }
  ul li .date, ol li .date {
    font-weight: bold;
    font-size: 18px; }
    ul li .date i, ol li .date i {
      padding-right: 5px; }
  ul li .title, ul li .speaker, ul li .sponsor, ul li .video, ol li .title, ol li .speaker, ol li .sponsor, ol li .video {
    padding-left: 30px; }
  ul li .video i, ol li .video i {
    padding-right: 5px; }
  ul li .list-date, ol li .list-date {
    color: lightgray;
    font-size: 14px;
    font-weight: normal; }
  ul li .list-pdf, ol li .list-pdf {
    color: red;
    font-size: 14px;
    font-weight: normal; }

.header {
  margin: 20px; }

img {
  z-index: 1000; }
  img.img-margin {
    margin: 10px; }
  img.img-side-margin {
    margin-left: 10px;
    margin-right: 10px; }

.footer {
  border-top: 1px solid #e6e6e6;
  padding: 1em;
  margin-top: 1em; }
  .footer p {
    color: #bfbfbf; }

.container .title {
  color: gray; }
.container.headline {
  box-shadow: 5px 5px 20px #bfbfbf; }
.container img {
  z-index: 1000; }

.headline img {
  margin: 15px 15px 0px 0px; }

.navbar-fixed-top ul.nav-pills {
  float: left;
  /*==========  Non-Mobile First Method  ==========*/
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */
  margin: 5px;
  padding: 0px; }
  @media only screen and (max-width: 768px) {
    .navbar-fixed-top ul.nav-pills {
      clear: right; } }
  @media only screen and (max-width: 480px) {
    .navbar-fixed-top ul.nav-pills {
      clear: right; } }
  @media only screen and (max-width: 320px) {
    .navbar-fixed-top ul.nav-pills {
      clear: right; } }
  .navbar-fixed-top ul.nav-pills a {
    color: #bfbfbf; }
  .navbar-fixed-top ul.nav-pills a:hover {
    color: white;
    background: #428bca; }
  .navbar-fixed-top ul.nav-pills .active a {
    text-transform: uppercase;
    color: white;
    background: #404040;
    font-weight: bold; }
  .navbar-fixed-top ul.nav-pills .logo {
    margin: 0px;
    padding: 0px; }
    .navbar-fixed-top ul.nav-pills .logo a {
      margin: 0px;
      padding: 0px; }
.navbar-fixed-top form.navbar-right {
  width: 50%;
  /*==========  Non-Mobile First Method  ==========*/
  /* Large Devices, Wide Screens */
  /* Medium Devices, Desktops */
  /* Small Devices, Tablets */
  /* Extra Small Devices, Phones */
  /* Custom, iPhone Retina */ }
  @media only screen and (max-width: 768px) {
    .navbar-fixed-top form.navbar-right {
      margin: 0 5%;
      width: 90%; } }
  @media only screen and (max-width: 480px) {
    .navbar-fixed-top form.navbar-right {
      margin: 0 5%;
      width: 90%; } }
  @media only screen and (max-width: 320px) {
    .navbar-fixed-top form.navbar-right {
      margin: 0 5%;
      width: 90%; } }

blockquote {
  background-color: #f2f2f2; }

.categories {
  width: 90%; }
  .categories h5 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #bfbfbf; }
  .categories ol label {
    width: 6em;
    text-align: right; }
  .categories ol .enumeration {
    color: #bfbfbf;
    text-align: right; }
  .categories .legend {
    float: right;
    border: 1px solid #e6e6e6; }

.well {
  background-color: #faf7f3;
  border: 1px solid #f3ebe0;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #e6e6e6; }

/* see https://gist.github.com/pinchyfingers/2414459 */
.outline {
  padding: 15px;
  margin: 0px;
  background-color: #faf7f3;
  border: 1px solid #f3ebe0;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #e6e6e6; }
  .outline ol {
    padding: 0px 0px 10px 19px; }
    .outline ol ol {
      padding: 0px 0px 5px 20px; }

.article {
  margin: 20px; }

.sub-bullet {
  text-indent: 20px;
  padding-left: 20px; }

.google-custom-search-box {
  position: absolute;
  top: -1000px; }
