<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Ralph D. Winter Research Center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>The Ralph D. Winter Research Center</title>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>
  <body>
    {% include navigation.html %}

    <main role="main">
      {% if page.parent %}
        <ol class="breadcrumb">
          <li><a href="{{ page.parent }}.html">{{ page.title }}</a></li>
          <li class="active">{{ page.subtitle }}</li>
        </ol>
      {% endif %}
      <div class="container">
        <div class="content article">
          <div class="row">
            <div class="span12">
              {% if page.subtitle == 'The Highest Priority - Cross-Cultural Evangelism' %}
                <img class="img-rounded pull-right img-responsive" src="Lausanne_1974/Lausanne_1974_wordle_medium.png" alt="Lausanne 1974 top words"/>
              {% endif %}

              {% if page.subtitle %}
                <h2>{{ page.subtitle }}</h2>
              {% endif %}

              {% if page.date or page.event %}
                <h4> {{ page.date }} {{ page.event }} </h4>
              {% endif %}

              {% if page.location %}
                <h5>{{ page.location }}</h5>
              {% endif %}

              {% if page.author %}
                <h5>{{ page.author }}</h5>
              {% endif %}

              {% if page.original %}
                <p><a href="{{ page.original }}">Original Article</a></p>
              {% endif %}

              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="footer">
      <p class="pull-right">&copy; 2014 The Ralph D. Winter Research Center </p>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48753329-1']);
      _gaq.push(['_setDomainName', 'ralphdwinter.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
