<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{{ page.title }}</title>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>
  <body>
    {% include navigation.html %}

    <main role="main">
      <div class="container">
        <h1 class="title">{{ page.title }}</h1>
        <div class="content article">
          <div class="row">
            <div class="span12">
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="footer">
      <p class="pull-right">&copy; 2014 The Ralph D. Winter Research Center </p>
    </div>
  </body>
</html>
