<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{{ page.title }}</title>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="javascripts/application.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="page-location">
        <a href="index.html"><img src="images/rdwrc_logo_tiny.jpg"></a>
        <h3>{{ page.title }}</h3>
      </div>
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="search {{ page.title }} archives">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="icon-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="content">
      {{ page.content }}
    </div>

    <div class="footer">
      <p class="right">&copy; 2014 The Ralph D. Winter Research Center </p>
    </div>
  </body>
</html>
